@tailwind base;
@tailwind components;
@tailwind utilities;

[data-nextjs-scroll-focus-boundary] {
  display: contents;
}

@layer base {
  :root {
    --color-primary: 0, 72.2%, 50.6%;
    --color-on-primary: 0, 85.7%, 97.3%;
    --color-inverse-primary: 0, 90.6%, 70.8%;
    --color-info: 221.2, 83.2%, 53.3%;
    --color-on-info: 213.8, 100%, 96.9%;
    --color-success: 161.4, 93.5%, 30.4%;
    --color-on-success: 151.8, 81%, 95.9%;
    --color-warning: 32.1, 94.6%, 43.7%;
    --color-on-warning: 48, 100%, 96.1%;
    --color-error: 0, 72.2%, 50.6%;
    --color-on-error: 0, 85.7%, 97.3%;
    --color-background: 0, 0%, 98%;
    --color-surface-low: 240, 5.9%, 90%;
    --color-surface: 240, 4.9%, 83.9%;
    --color-surface-high: 240, 5%, 64.9%;
    --color-surface-highest: 240, 3.8%, 46.1%;
    --color-on-surface: 240, 10%, 3.9%;
    --color-on-surface-variant: 240, 5.3%, 26.1%;
    --color-inverse-surface: 240, 3.7%, 15.9%;
    --color-inverse-on-surface: 0, 0%, 98%;
    --color-inverse-on-surface-variant: 240, 3.8%, 46.1%;
  }
}
